<!DOCTYPE html>
<html lang="en">

<head>
<title>
	Account Manager - Home
</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../../static/js/lib/jquery-lib-min.js"></script>
<script>
function searchFunc(){
	//alert("key up");
	//console.log("key up");
	$(document).ready(function(){
	<!-- alert('haay'); -->
		$(".resultClass").empty();
		var idVal = $('#searchID').val();
		$.ajax({
			url: '/accountManager/home/search/',
			type: 'POST',
			
			data: {
				value: idVal,
			},

			success: function(data){
				var results = JSON.parse(data);
				for(var i = 0; i < results.length; i++){
					var c = i+1;
					$('.resultClass').append(c+". <a href='userAccountView/"+results[i].user_id+"'>"+results[i].username+"</a><br/>");	
				}
			},
			error: function(error){
				alert(error.status);
			}
		});
	});
}
	</script>
<style>
a{
 text-decoration:none
}
</style>

</head>
<body onload="searchFunc()" style="background-color:gray;">
	
	<div style="background-color:rgb(44,237,14);margin-top:0px;padding:20px;">
		
		<h1 style="margin-left:50px;">
			<br/>Express Home - Account Manager <br/> <%= data.username %> ( <%= data.mail %> )
		</h1>
		
		<p style="margin-left:50px;"><span style="font-size:30px;">&#xFF02 </span><%= data.bio %> <span style="font-size:30px;">&#xFF02 </span> Contact : <%= data.phone %></p>
		
		<a href="/generalController/logout" style="margin-left:900px;">Logout</a>
		<a href="/accountManager/profile" style="margin-left:10px;">Account</a>
		<a href="/accountManager/report" style="margin-left:10px;">Report Analysis</a>
		
	</div>
	
	<div style="float:left;width:18%;height:500px;background-color:white;padding:20px;">
		
		<br/>
			<input type="text" onkeyup="searchFunc()" style="padding:10px;border-radius:5px;border:2px black solid;" placeholder="Search Account" id="searchID" name="searchID">	
		<br/><br/>User Accounts :
		<br/>
		
		<div class="resultClass"></div>
		
	</div>
	
	
	<div style="float:left;width:54%;background-color:white;margin-left:5px;padding:20px;">
		<br/> Post Had Been Reported : <b><%= repResult.length %> Posts</b>
			
			<% for(var i=0; i < repResult.length; i++){ %>	
				<div style="width:90%;background-color:rgb(84,84,84);border-radius:15px;padding:15px;margin-top:5px;">
					<a href="userAccountView/<%=repResult[i].user_id%>">Take Action</a><br/>
					<%=repResult[i].post_time%><br/>
					<%=repResult[i].post_text%><br/><br/>
					<% if(countRes[i].res != null) { %>
						<%=countRes[i].res%> Likes
					<% } %>
				</div>
			<% } %>
	</div>
	
	
	<div style="float:left;width:18%;background-color:white;margin-left:5px;padding:20px;">
		<center>
			<br/>Notifications :
			
			<% for(var i=0; i < block_req_list.length; i++){ %>	
				<div style="width:90%;background-color:rgb(144,144,144);border-radius:15px;padding:15px">
					<h4>Account Block Request</h4>
					12 Feb 2020, 08:40PM<br/>
					Account ID : <a href="/accountManager/userAccountView/<%= block_req_list[i].user_id %>"><%= block_req_list[i].user_id %></a> <br/>
					| Status : <b><%= block_req_list[i].block_status %></b> | <br/><br/>
				</div>
			<% } %>
			
			<br/>Messages from Content Manager :
			
			<% for(var i=0; i < msgss.length; i++){ %>	
				<div style="width:90%;background-color:rgb(144,144,144);border-radius:15px;padding:15px">
					<h4><%= msgss[i].sender_id %></h4>
					<% if(msgss[i].message_status_id == 60) {%>
							sent
					<% } else { %>
							seen
					<% } %> | <%= msgss[i].msg_time %><br/>
					<%= msgss[i].message_text %> <br/><br/>
				</div>
			<% } %>			
		</center>
	</div>
</body>
</html>